<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Quizzer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav">
            <a class="nav-link" href="/">Home</a>
            <% if (user && (user.occupation === "student" || user.occupation === "teacher")){ %>
                <a class="nav-link" href="/profile">Profile</a>
            <% } %> 
            <% if (user && user.occupation === 'teacher'){ %>
                <a class="nav-link" href="/course">New Course</a>
            <% } %> 
        </div>

        <div class="navbar-nav ml-auto">
            <% if (!user) {%> 
            <a class="nav-link" href="/register">Register</a>
            <a class="nav-link" href="/login">Login</a>
            <% } else { %> 
            <a class="nav-link" href="/logout">Logout</a>
            <% } %> 
        </div>
    </div>
  </nav>